body {
	position: relative;
	word-break: break-word;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s ease-in;

	&:hover {
		text-decoration: none;
	}
}

.section-title {
	position: relative;
	font-family: 'Panchang-Medium';
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0.05em;
	margin-bottom: 40px;

	&--before-content {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-83%);
	    left: -15px;
	    right: 0;
		font-family: $font-family-secondary;
		font-size: 200px;
		line-height: 232px;
		mix-blend-mode: overlay;
		opacity: 0.5;
		white-space: nowrap;

		&.is-small {
			left: 0;
			font-size: 130px;
			line-height: 152px;
			transform: translateY(-65%);
		}
	}

	.section-text {
		font-family: $font-family-base;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		margin-top: 10px;
		opacity: 0.6;
	}
}

@include media-breakpoint-down(lg) {
	.section-title {
		font-size: 24px;
		line-height: 32px;

		&--before-content {
			font-size: 130px;
			line-height: 150px;
			transform: translateY(-91%);
		}

		.section-text {
			font-size: 14px;
			line-height: 17px;

			br {
				display: none;
			}
		}
	}
	.house-tour,
	.location-benefit,
	.amenities,
	.configuration {
		overflow: hidden;
	}
}

@include media-breakpoint-down(md) {
	.row {
		margin-left: -10px;
		margin-right: -10px;

		> * {
			padding: 0 10px;
		}
	}
	.container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}
}