$primary: #C7A28B;
$light-primary: #efebdb;
$body-color: #ffffff;
$body-bg: #15181F;

// Font Variables

$font-family-base: 'Montserrat', sans-serif;
$font-family-secondary: 'Waterfall', cursive;

$container-padding-x: 30px;