.btn {
    border-radius: 30px;
    font-size: 16px;
    padding: 15px;
    transition: all 0.3s ease-in;

    &.btn-primary {
        color: $white;
        border-color: $primary;

        &:hover {
            background-color: transparent;
            border-color: $primary;
            color: $primary;
        }
    }

    &.btn-outline-primary {
        background-color: transparent;
        border-color: $primary;
        color: $primary;

        &:hover {
            background-color: $primary;
            color: $white;

            svg {
                path {
                    stroke: $white;
                }
            }
        }
    }

    &.btn-block {
        width: 100%;
    }

    svg {
        transition: all 0.3s ease-in;
        margin-right: 10px;
    }
}
