.card-location {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	text-align: center;
	border: 1px solid $primary;
	padding: 55px 30px;

	&--img {
		height: 110px;

		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	&--title {
		font-family: $font-family-gotham-bold;
		font-size: 26px;
		line-height: 32px;
		margin: 30px 0;
	}

	&--body {
		font-family: $font-family-gotham-medium;
		font-size: 28px;
		line-height: 34px;
		color: #9f9e9e;
	}
}

.configuration-card {
	text-align: center;
	padding: 50px;
	background-color: $white;
	box-shadow: 1px 1px 8px 1px rgba($black, 0.1);

	&--content {
		h3 {
			color: $black;
			font-size: 70px;
			margin: 0;
		}
		h4 {
			color: #848586;
			font-size: 40px;
			margin: 0;
		}
		p {
			color: $primary;
			font-size: 26px;
			font-family: $font-family-gotham-medium;
		}
	}

	&--slider {
		.configuration-card--swiper-thumbnails {
			width: 80%;
    		margin: 0 auto;
    		
			.swiper-slide {
				> div {
					font-size: 24px;
					padding: 5px;
					border-radius: 10px;
					background-color: $black;
					color: $white;
					cursor: pointer;
				}
				&.swiper-slide-thumb-active {
					> div {
						color: $black;
						background-color: #ebebeb;
						cursor: default;
					}
				}
			}
		}
	}

	&--swiper {
		padding: 30px 0 50px 0;
    	margin-bottom: 40px;

		.swiper-slide {
			height: 300px;

			img {
				height: 100%;
				object-fit: contain;
			}
		}
	}

	.swiper-pagination {
		.swiper-pagination-bullet-active {
			background-color: $primary;
		}
	}
}

@include media-breakpoint-down(xl) {
	.configuration-card {
		padding: 30px;

		&--content {
			h3 {
				font-size: 36px;
			}
			h4 {
				font-size: 28px;
			}
			p {
				font-size: 18px;
			}
		}

		&--slider {
			.configuration-card--swiper-thumbnails {
				.swiper-slide {
					> div {
						font-size: 16px;
					}
				}
			}
		}

		&--swiper {
	    	margin-bottom: 30px;

			.swiper-slide {
				height: 200px;
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.card-location {
		padding: 30px;

		&--img {
			height: 80px;
		}

		&--title {
			font-size: 20px;
			line-height: 26px;
			margin: 20px 0;
		}

		&--body {
			font-size: 22px;
			line-height: 28px;
		}
	}

	.configuration-card {
		padding: 20px 10px;

		&--content {
			h3 {
				font-size: 24px;
			}
			h4 {
				font-size: 20px;
			}
			p {
				font-size: 16px;
			}
		}

		&--swiper {
	    	margin-bottom: 0;

			.swiper-slide {
				height: 150px;
			}
		}
	}
}
