// Placeholder css
.form-control::-webkit-input-placeholder,
.wpcf7-form-control {
    color: rgba($white, 0.5);
}

.form-control::-moz-placeholder,
.wpcf7-form-control::-moz-placeholder {
    color: rgba($white, 0.5);
}

.form-control:-ms-input-placeholder,
.wpcf7-form-control:-ms-input-placeholder {
    color: rgba($white, 0.4);
}

.form-control:-moz-placeholder,
.wpcf7-form-control:-moz-placeholder {
    color: rgba($white, 0.4);
}

.wpcf7-form {
    p {
        margin-bottom: 40px;
    }

    label {
        font-size: 14px;
        line-height: 17px;
        color: $white;
        opacity: 0.4;
        margin-bottom: 12px;
    }

    .wpcf7-form-control-wrap {
        .wpcf7-form-control {
            @extend .form-control;
            font-size: 16px;
            background-color: $body-bg;

            &:focus {
                color: $white;
                background-color: transparent;
                outline: none;
                box-shadow: none;
            }
        }
    }

    .wpcf7-submit {
        font-size: 14px;
        color: $white;
        padding: 15px;
        border-radius: 8px;
        font-weight: 500;
        transition: all 0.3s ease-in;
        width: 100%;
    }

    .wpcf7-select {
        @extend .form-select;

        option {
            background-color: $body-bg;
            color: $input-color;
        }
    }
}

.form-group {
    margin-bottom: 40px;

    label {
        font-size: 14px;
        line-height: 17px;
        color: $white;
        opacity: 0.4;
        margin-bottom: 12px;
    }

    .form-control,
    .form-select {
        &:focus {
            color: $white;
            background-color: transparent;
            outline: none;
            box-shadow: none;
        }
    }

    select {
        option {
            background-color: $body-bg;
            color: $input-color;
        }
    }

    .input-group-text,
    .form-control,
    .form-select {
        font-size: 16px;
    }

    .input-group {
        .input-group-text {
            border-right: 0;
        }
        .form-control {
            border-left: 0;
            margin-left: 0 !important;
        }
    }
}

@include media-breakpoint-down(lg) {
    .wpcf7-form {
        p {
            margin-bottom: 15px;
        }
    }
    .form-group {
        margin-bottom: 15px;
    }
}
