// Placeholder css
.form-control::-webkit-input-placeholder,
.wpcf7-form-control {
    color: rgba($white, 0.5);
}

.form-control::-moz-placeholder,
.wpcf7-form-control::-moz-placeholder {
    color: rgba($white, 0.5);
}

.form-control:-ms-input-placeholder,
.wpcf7-form-control:-ms-input-placeholder {
    color: rgba($white, 0.4);
}

.form-control:-moz-placeholder,
.wpcf7-form-control:-moz-placeholder {
    color: rgba($white, 0.4);
}

.wpcf7 {
    p {
        margin-bottom: 40px;
    }

    label {
        display: block;
        font-size: 14px;
        line-height: 17px;
        color: $white;
        opacity: 0.4;
    }

    .wpcf7-form-control-wrap {
        width: 100%;
        display: block;
        color: #737479;
        margin-top: 12px;

        .wpcf7-form-control {
            @extend .form-control;
            color: #cfcfcf;
            font-size: 16px;
            background-color: $body-bg;
            border-color: 1px solid #cfcfcf;

            &:focus {
                color: $white;
                background-color: transparent;
                outline: none;
                box-shadow: none;
            }
        }

        .wpcf7-not-valid-tip {
            color: #ff6868;
            margin-top: 10px;
        }
    }

    .wpcf7-submit {
        font-size: 14px;
        color: $white;
        padding: 15px;
        border-radius: 8px;
        font-weight: 500;
        transition: all 0.3s ease-in;
        width: 100%;
    }

    .wpcf7-select {
        @extend .form-select;

        option {
            background-color: $body-bg;
            color: $input-color;
        }
    }

    form.invalid .wpcf7-response-output, 
    form.unaccepted .wpcf7-response-output, 
    form.payment-required .wpcf7-response-output {
        border-color: #ff1717;
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
        padding: 1rem;
        margin: 40px 0;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        font-size: 14px;
    }
}

.modal {
    .wpcf7-form-control-wrap {
        margin-bottom: 30px;
    }
}

.form-group {
    margin-bottom: 40px;

    label {
        font-size: 14px;
        line-height: 17px;
        color: $white;
        opacity: 0.4;
        margin-bottom: 12px;
    }

    .form-control,
    .form-select {
        &:focus {
            color: $white;
            background-color: transparent;
            outline: none;
            box-shadow: none;
        }
    }

    select {
        option {
            background-color: $body-bg;
            color: $input-color;
        }
    }

    .input-group-text,
    .form-control,
    .form-select {
        font-size: 16px;
    }

    .input-group {
        .input-group-text {
            border-right: 0;
        }
        .form-control {
            border-left: 0;
            margin-left: 0 !important;
        }
    }
}

@include media-breakpoint-down(lg) {
    .wpcf7 {
        form.invalid .wpcf7-response-output, 
        form.unaccepted .wpcf7-response-output, 
        form.payment-required .wpcf7-response-output {
            margin: 30px 0;   
        }
        &-form {
            p {
                margin-bottom: 15px;
            }
        }
    }
    .form-group {
        margin-bottom: 15px;
    }
}
